<div class="all-tasks">
  <div class="all-tasks__header">All Tasks</div>

  <table class="all-tasks__table">
    <thead class="all-tasks__table__header">
      <td *ngFor="let header of headers">
        <div>
          <span>{{ header | titlecase }}</span>

          <div class="all-tasks__buttons">
            <div *ngIf="!['task ID', 'title', 'description'].includes(header)">
              <button [matMenuTriggerFor]="menu">
                <mat-icon class="all-tasks__buttons__filter">filter_list</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button 
                  mat-menu-item
                  *ngFor="let option of filterOptions[header]"
                  (click)="onFilter(option, header)"
                >
                  {{ option | titlecase }}
                </button>
              </mat-menu> 
            </div>

            <button 
              *ngIf="!['task ID', 'performers'].includes(header)"
              (click)="onSort(header)"
            >          
              <mat-icon class="all-tasks__buttons__sort">{{ setSortIcon(header) }}</mat-icon>
            </button>
          </div>
        </div>  
      </td>      
    </thead>

    <tbody *ngFor="let task of allTasksChangeable">
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title | titlecase }}</td>
        <td>
          <div class="all-tasks__description">
            <span>{{ task.description | titlecase }}</span>
            <div>
              <a [routerLink]="['/tasks', task.id]">
                <mat-icon>info</mat-icon>
              </a>
              <button (click)="onDelete(task.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          </td>
        <td>{{ task.deadline | date }}</td>
        <td>
          <div class="all-tasks__priority">
            <span [ngStyle]="{ backgroundColor: task.priority === 'high' ? 'red' : task.priority === 'medium' ? 'orange' : 'green'}"></span>
            <span>{{ task.priority | titlecase }}</span>
          </div>
        </td>
        <td>{{ task.status }}</td>
        <td class="all-tasks__performers">
          <img 
            *ngFor="let avatar of getPerformersAvatar(task)"
            [src]="'../../assets/' + avatar" 
          >
        </td>
      </tr>
    </tbody>
  </table>

</div>
