.all-tasks {
  &__header {
    margin: 30px;
    font-size: 2em;
    font-weight: 700;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    &__header td {
      font-weight: 700;

      & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        & > button {
          border: none;
          background: none;
          display: grid;
          place-items: center;
          cursor: pointer;
        }
      }
    }

    &__header td,
    & tbody tr td {
      padding: 10px 20px;
      border: 1px solid #ddd;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    & button {
      padding: 3px;
      display: grid;
      place-items: center;
      border: none;
      border-radius: 5px;
      background: none;
      cursor: pointer;

      &:hover {
        background-color: lightgray;
      } 
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    & > div {    
      display: flex;
      align-items: center;
      gap: 10px;

      & > a {
        padding: 3px;
        border-radius: 5px;
        color: #5a5a5a;
        display: grid;
        place-items: center;
      }

      & > button {
        padding: 3px;
        border: none;
        border-radius: 5px;
        background: none;
        color: #5a5a5a;
        cursor: pointer;
        display: grid;
        place-items: center;
      }

      & > a:hover,
      & > button:hover {
        background-color: #e5e5e5;
      }
    }
  }

  &__priority {
    display: flex;
    align-items: center;
    gap: 10px;

    & > span:first-of-type {
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  &__performers {
    & > img {
      width: 64px;
      border-radius: 50%;
      box-shadow: 0 0 0 3px #fff;
    }

    & > img:not(:first-of-type) {
      margin-left: -20px;
    }
  }
}
